// COLORS
$color-primary: #ad8fba;
$color-primary-light: #9044a8;
$color-primary-light-2: #80479a;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// // FONT
$default-font-size: 1.6rem;
