{% extends "movie/layout.html" %}

{% block body %}

<h1 class="watchlist__h1">My Watchlist</h1>
<div class="watchlist">
	{% for watchlist_movie in watchlist_movies %}
	<div class="watchlist__card">
		<img class="watchlist__movie--poster" src=https://image.tmdb.org/t/p/original/{{watchlist_movie.movie.poster_path}}"
			alt="Movie poster">
		<div>
			<h3 class="watchlist__heading">{{ watchlist_movie.movie.original_title }}</h3>
			<div class="watchlist__details">
				<ul>
					<li><span>Genres:</span>{{ watchlist_movie.movie.genres }}</li>
					<li><span>ratings:</span>{{ watchlist_movie.movie.vote_average }}</li>
					<li><span>Language:</span> {{ watchlist_movie.movie.original_language }}</li>
				</ul>
				<div class="watchlist__description">
					<p>{{ watchlist_movie.movie.overview }}</p>
				</div>
				<button class="delete-btn" data-imdb-id="{{ watchlist_movie.movie.imdb_id }}">Remove</button>
			</div>
		</div>
	</div>

	{% empty %}
	<p>You have no movies in your watchlist.</p>
	{% endfor %}
</div>



{% endblock %}